GET_VENDORREGISTRATION_STATUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_STATUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_STATUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GET_VENDORREGISTRATION_STATUS" nillable="true" type="tns:WebService_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebService_Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GET_VENDORREGISTRATION_STATUS" nillable="true" type="tns:WebService_Response" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_STATUSSoapIn">
    <wsdl:part name="parameters" element="tns:GET_STATUS" />
  </wsdl:message>
  <wsdl:message name="GET_STATUSSoapOut">
    <wsdl:part name="parameters" element="tns:GET_STATUSResponse" />
  </wsdl:message>
  <wsdl:message name="GET_STATUSHttpGetIn">
    <wsdl:part name="RequestID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_STATUSHttpGetOut">
    <wsdl:part name="Body" element="tns:GET_VENDORREGISTRATION_STATUS" />
  </wsdl:message>
  <wsdl:message name="GET_STATUSHttpPostIn">
    <wsdl:part name="RequestID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_STATUSHttpPostOut">
    <wsdl:part name="Body" element="tns:GET_VENDORREGISTRATION_STATUS" />
  </wsdl:message>
  <wsdl:portType name="GET_VENDORREGISTRATION_STATUSSoap">
    <wsdl:operation name="GET_STATUS">
      <wsdl:input message="tns:GET_STATUSSoapIn" />
      <wsdl:output message="tns:GET_STATUSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GET_VENDORREGISTRATION_STATUSHttpGet">
    <wsdl:operation name="GET_STATUS">
      <wsdl:input message="tns:GET_STATUSHttpGetIn" />
      <wsdl:output message="tns:GET_STATUSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GET_VENDORREGISTRATION_STATUSHttpPost">
    <wsdl:operation name="GET_STATUS">
      <wsdl:input message="tns:GET_STATUSHttpPostIn" />
      <wsdl:output message="tns:GET_STATUSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GET_VENDORREGISTRATION_STATUSSoap" type="tns:GET_VENDORREGISTRATION_STATUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_STATUS">
      <soap:operation soapAction="http://tempuri.org/GET_STATUS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GET_VENDORREGISTRATION_STATUSSoap12" type="tns:GET_VENDORREGISTRATION_STATUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_STATUS">
      <soap12:operation soapAction="http://tempuri.org/GET_STATUS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GET_VENDORREGISTRATION_STATUSHttpGet" type="tns:GET_VENDORREGISTRATION_STATUSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GET_STATUS">
      <http:operation location="/GET_STATUS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GET_VENDORREGISTRATION_STATUSHttpPost" type="tns:GET_VENDORREGISTRATION_STATUSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GET_STATUS">
      <http:operation location="/GET_STATUS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GET_VENDORREGISTRATION_STATUS">
    <wsdl:port name="GET_VENDORREGISTRATION_STATUSSoap" binding="tns:GET_VENDORREGISTRATION_STATUSSoap">
      <soap:address location="http://10.21.6.42/sites/Get_VendorRegistrationStatus/GET_VENDORREGISTRATION_STATUS.asmx" />
    </wsdl:port>
    <wsdl:port name="GET_VENDORREGISTRATION_STATUSSoap12" binding="tns:GET_VENDORREGISTRATION_STATUSSoap12">
      <soap12:address location="http://10.21.6.42/sites/Get_VendorRegistrationStatus/GET_VENDORREGISTRATION_STATUS.asmx" />
    </wsdl:port>
    <wsdl:port name="GET_VENDORREGISTRATION_STATUSHttpGet" binding="tns:GET_VENDORREGISTRATION_STATUSHttpGet">
      <http:address location="http://10.21.6.42/sites/Get_VendorRegistrationStatus/GET_VENDORREGISTRATION_STATUS.asmx" />
    </wsdl:port>
    <wsdl:port name="GET_VENDORREGISTRATION_STATUSHttpPost" binding="tns:GET_VENDORREGISTRATION_STATUSHttpPost">
      <http:address location="http://10.21.6.42/sites/Get_VendorRegistrationStatus/GET_VENDORREGISTRATION_STATUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>